# Corpus: large, reproducible, and College Board's copyright. Regenerate with
# tools/fetch_bank.py and tools/fetch_tests.py rather than committing it.
corpus/bank/
corpus/tests/*.pdf
corpus/*.log

.DS_Store
.env
__pycache__/
